<nav>
    <div class="site-title">
      <a href="/"><h1>My Blogs</h1></a>
      <p>A Blogging Site</p>
    </div>
    <ul class="nav-items">
      <li class="nav-links"><a href="/">Blogs</a></li>
      <li class="nav-links"><a href="/about">About</a></li>
      <li class="nav-links"><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>