<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <div class="bg-image">
  <div class="about content">
    <h2>About Us</h2>
    <p>This a blogging site made by Surbhi Goel just for a trial using node , java script , express and mongo is used for database.Some css has also been applied for the beautification of the site.</p>
    <p>For any suggestions reach out to us at surbhigoel1701@gmail.com.</p>
  </div>
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>